<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>vue-slide</title>
    <link rel="stylesheet" href="style.css">
</head>

<body @keyup.down.prevent="down" @keyup.enter.prevent="down" @keyup.up.prevent="up" @mousewheel="toggle">
    <div class="content">
        <div class="pages" :style="{top: top+'%'}">
            <div class="page" v-for="n in page_len" v-text="n+1">
            </div>
        </div>
    </div>
    <ul class="nav-point">
        <li :class="{active: index === i+1}" @click="index = i+1" v-for="i in page_len"></li>
    </ul>
    <script src="../bower_components/vue/dist/vue.js"></script>
    <script>
    var vm = new Vue({
        el: 'body',
        data: {
            page_len: 10,
            index: 1
        },
        methods: {
            up: function() {
                if (this.index > 1)
                    this.index--;
            },
            down: function() {
                if (this.index < this.page_len)
                    this.index++;
            },

            // try to transform to mousewheel.up and mousewheel.down
            // try to be compatible with firefox(DOMMouseScroll)
            toggle: function(event) {
                if (event.wheelDelta === -120) {
                    this.down();
                } else if (event.wheelDelta === 120) {
                    this.up();
                }
            }
        },
        computed: {
            top: function() {
                return (this.index - 1) * -100;
            }
        }
    });
    </script>
</body>

</html>
